<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/errorMessage.css" />
  </head>

  <body>
    <%- include('../partials/navigation.ejs') %>

    <main>
              <% if (errorMessage) { %>
    <p class="error-message"><%= errorMessage %></p>
  <% } %>
      <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" ectype="multipart/form-data">
        <div class="form-control">
          <label for="title">Title</label>
          <input
            class="<%= validationErrors.find(e => e.path === 'title') ? 'invalid' : '' %>" 
            type="text" 
            name="title" 
            id="title" 
            value="<% if (editing || hasError) { %><%= product.title %><% } %>" />
        </div>

        <!-- <div class="form-control">
          <label for="imageUrl">Image Url</label>
          <input 
            class="<%= validationErrors.find(e => e.path === 'imageUrl') ? 'invalid' : '' %>" 
            type="text" 
            name="imageUrl" 
            id="imageUrl" 
            value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>"/>
        </div> -->

        <div class="form-control">
          <label for="image">Image</label>
          <input 
            type="file" 
            name="image" 
            id="image" />
        </div>

                        <div class="form-control">
          <label for="price">Price</label>
          <input 
            class="<%= validationErrors.find(e => e.path === 'price') ? 'invalid' : '' %>" 
            type="number" 
            name="price" 
            id="price" 
            step="0.01" 
            value="<% if (editing || hasError) { %><%= product.price %><% } %>"/>
        </div>

                        <div class="form-control">
          <label for="description">Description</label>
          <textarea 
            class="<%= validationErrors.find(e => e.path === 'description') ? 'invalid' : '' %>" 
            name="description" 
            id="description" 
            rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
        </div>
        <% if (editing) { %>
          <input type="hidden" name="productId" value="<%= product.id %>"/>
        <% } %>

        <button class="btn" type="submit"><% if (editing) { %> Update Product <% } else{ %> Add Product <% }%></button>
          <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />
      </form>
    </main>
<%- include('../partials/end.ejs') %>
